const b$1 = block(naming.$1);

export default
class ${1:Name} extends React.Component {

    static displayName = '$1'

    static propTypes = {
        ${2:prop}: React.PropTypes.${3:string}
    }

    static defaultProps = {
        ${4:prop}: ${5:value}
    }

    render() {
        return (
            <div className={b$1}>
                ${6}
            </div>
        );
    }

}${0:}
